.downloadButton {
    background-color: var(--primary);
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

.downloadButton:hover {
    background-color: #f09800;
    transform: none;
    opacity: 1;
    box-shadow: none;
}