.aboutSection {
    padding: 6rem 0;
    background-color: #ffffff;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: space-between;
}

.contentColumn {
    flex: 1;
    max-width: 600px;
}

.heading {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.blackText {
    color: #000;
}

.orangeText {
    color: var(--primary);
}

.description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #4a4a4a;
    margin-bottom: 3rem;
    margin-bottom: 3rem;
    text-align: left;
    text-align: justify;
    /* No justify on mobile to prevent rivers */
}

.moreButton {
    background-color: var(--primary);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.moreButton:hover {
    background-color: var(--primary-hover);
}

.imageColumn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.imageWrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
}

.aboutImage {
    object-fit: cover;
}

@media (max-width: 900px) {
    .imageColumn {
        display: none;
    }

    .container {
        flex-direction: column;
        padding: 0 1.5rem;
        gap: 0;
    }

    .contentColumn {
        max-width: 100%;
        margin-bottom: 3rem;

        /* Remove margin bottom on mobile as image handles spacing or container padding */
    }

    .aboutSection {
        padding: 3rem 0 0 0;

    }

    .heading {
        font-size: 1.5rem;
        text-align: left;
        margin-bottom: 1rem;
    }

    .description {
        font-size: 0.9rem;
        margin-bottom: 2rem;
    }

    .moreButton {
        font-size: 0.9rem;
        padding: 0.8rem 1.5rem;
    }

    .imageWrapper {
        width: 100%;
        height: 300px;
    }
}